
<div class="container">
    <p class="display-4 offset-md-2">Assign Form</p>
    <form class="mt-3 col-md-8 offset-md-2" [formGroup]="assignForm">
        <div class="form-row mt-3">
            <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Employee Number" formControlName="eno" />
                <span class="input-group-text">at</span>
                <input type="text" class="form-control" placeholder="Project Number" formControlName="pno" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 mt-3">
                <input type="text" class="form-control" placeholder="Responsibility" formControlName="resp">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mt-3">
                <input type="number" class="form-control" min="0" placeholder="Duration" formControlName="dur">
            </div>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-lg btn-success text-light" (click)="onSave()">Guardar</button>
        </div>
    </form>
</div>