<div class="container">
    <p class="display-3 offset-md-2">Payments</p>
    <div class="col-md-8 offset-md-2">
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-block" (click)="onGoToNew()">Add Payment</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input #search (keyup)="onGoToSearch(search.value)" type="text" placeholder="Search by Payment Title" class="form-control">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-5">
            <thead class="table-head">
                <tr>
                    <th>Payment Number</th>
                    <th>Title</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments | async">
                    <th scope="row">{{payment.payno}}</th>
                    <td>{{payment.title}}</td>
                    <td>{{payment.salary}}</td>
                    <td class="btn-group d-none d-sm-block" role="group">
                        <button type="button" class="btn btn-warning m-1" (click)="onGoToEdit(payment)"><i
                                class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-danger m-1" (click)="onGoToDelete(payment)"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
