<div class="container">
  <p class="display-3 offset-md-2">Employees</p>
  <div class="col-md-8 offset-md-2">
    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-block" (click)="onGoToNew()">Add Employee</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover mt-5">
      <thead class="table-head">
        <tr>
          <th>Employee Number</th>
          <th>Employee Name</th>
          <th>Employee Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of list | async">
          <th scope="row">{{employee.eno}}</th>
          <td>{{employee.ename}}</td>
          <td>{{employee.title}}</td>
          <td class="btn-group d-none d-sm-block" role="group">
            <button type="button" class="btn btn-warning m-1" (click)="onGoToEdit(employee)"><i
                class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger m-1" (click)="onGoToDelete(employee)"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
