<nav  class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">Inicio</a> 
                </li>
        
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkWindows" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Windows DB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkWindows">
                        <a class="dropdown-item" [routerLink]="['windows/emp']">Employees</a> 
                        <a class="dropdown-item" [routerLink]="['windows/asg']">Assign</a>
                        <a class="dropdown-item" [routerLink]="['windows/proj']">Projects</a>
                        <a class="dropdown-item" [routerLink]="['windows/pay']">Payment</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkLinux" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Linux DB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkLinux">
                      <a class="dropdown-item" [routerLink]="['linux/emp']">Employees</a> 
                      <a class="dropdown-item" [routerLink]="['linux/asg']">Assign</a> 
                      <a class="dropdown-item" [routerLink]="['linux/proj']">Projects</a> 
                      <a class="dropdown-item" [routerLink]="['linux/pay']">Payment</a> 
                    </div>
                </li>
        </ul>

    </div>
</nav>