<nav  class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Inicio</a> 
                </li>
        
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Modificar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/modmat">Materias</a> 
                        <a class="dropdown-item" href="/modgrupos">Grupos</a>
                        <a class="dropdown-item" href="/modalumnos">Alumnos</a>
                        <a class="dropdown-item" href="/modprofesor">Profesores</a>
                        <a class="dropdown-item" href="/modlibros">Libros</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/listamat">Materias</a> 
                      <a class="dropdown-item" href="/listagrupos">Grupos</a>
                      <a class="dropdown-item" href="/listaalumnos">Alumnos</a>
                      <a class="dropdown-item" href="/listaprofesor">Profesores</a>
                      <a class="dropdown-item" href="/listalibros">Libros</a>
                    </div>
                </li>
        </ul>

    </div>
</nav>